---
- name: "System | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yaml"
  register: system_distribution_config
  no_log: true

- name: "System | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yaml"
  when: system_distribution_config.stat.exists
  no_log: true

- name: "TMUX | Refresh {{ ansible_user_dir }}/.config/tmux folder"
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/tmux"
    state: absent

- name: "Tmux | Ensure tmux directory structure exists"
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0755"
    state: directory
  loop:
    - "{{ ansible_user_dir }}/.config"
    - "{{ ansible_user_dir }}/.config/tmux"
#    - "{{ ansible_user_dir }}/.config/tmux/plugins"

- name: "Tmux | Create symbolic links for configuration files"
  ansible.builtin.file:
    src: "{{ role_path }}/files"
    dest: "{{ ansible_user_dir }}/.config/tmux"
    state: link
    force: yes

- name: "Tmux | Install TPM"
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ ansible_user_dir }}/.config/tmux/plugins/tpm"

- name: "Tmux | install plugins"
  ansible.builtin.shell:
    cmd: "{{ ansible_user_dir }}/.config/tmux/plugins/tpm/scripts/install_plugins.sh"
