---
- name: "STARSHIP | Download the install script"
  ansible.builtin.get_url:
    url: https://starship.rs/install.sh
    dest: /tmp/starship-install.sh
    mode: '0755'

- name: "STARSHIP | Run the install script"
  ansible.builtin.shell:
    cmd: /tmp/starship-install.sh --bin-dir "{{ primary_installation_path }}" --yes
  args:
    chdir: /tmp

- name: "STARSHIP | Ensure clean Starship Installations file"
  ansible.builtin.file:
    path: "/tmp/starship-install.sh"
    state: absent

