
# This environment variable is automatically used by `gh` (GitHub CLI - `github-cli` package-name).
# When set, it eliminates the need to manually run `gh auth login`.
export GITHUB_TOKEN="{{ github_token.stdout_lines[0] }}"