---

# Default local Installations paths
primary_installation_path: "{{ ansible_user_dir }}/.local/bin"
scripts_installation_path: "{{ ansible_user_dir }}/.bin"

default_roles:
  - system-base
  - 1password     # password manager first
  - git

  # CLI Tools
  - fzf
  - atuin
  - bat
  - zoxide
  - lsd
  - btop
  - fetchs
  - lazydocker
  - just
  - fd
  - yazi
  - sesh
  - navi
  - neovim

  # Terminal
  - fonts
  - starship
  - terminal
  - zsh
  - tmux
  - tmuxinator

  # utilities to connect Logitech devices
  - solaar
  - funny-apps

  # Devops tools
  - docker
  - terraform
  - go

  # Kubernetes tools
  - kubectl
  - k3d
  - helm
  - kubecolor
  - k9s

  # GUI softwares
  - dropbox
  - insync
  - vscode
  - google-chrome
  - telegram
  - spotify
  - obsidian

  # Environment
  - dotfiles
  - hyde

go:
  packages:
    - package: github.com/spf13/cobra-cli@latest
      cmd: cobra-cli

# fonts list used by me
fonts_list:
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/DroidSansMono/DroidSansMNerdFont-Regular.otf"
