---
- name: "SESH | install"
  ansible.builtin.shell: "yay -S --needed --noconfirm sesh-bin"

- name: "SESH | Refresh {{ ansible_user_dir }}/.config/sesh folder"
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/sesh"
    state: absent

# Link the Config File
- name: "SESH | Ensure sesh directory structure exists"
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0755"
    state: directory
  loop:
    - "{{ ansible_user_dir }}/.config"
    - "{{ ansible_user_dir }}/.config/sesh"

- name: "SESH | Copy sesh config"
  ansible.builtin.file:
    src: "{{ role_path }}/files"
    dest: "{{ ansible_user_dir }}/.config/sesh"
    state: link
    force: yes
