---
- name: "System | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yaml"
  register: system_distribution_config

- name: "System | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yaml"
  when: system_distribution_config.stat.exists

- name: "DOTFILES | Create symbolic link for .zshrc"
  # become: yes
  ansible.builtin.file:
    src: "{{ item }}"
    dest: "{{ ansible_user_dir }}/.config/dotfiles/{{ item | basename }}"
    state: link
    force: yes
  with_fileglob:
    - "{{ role_path }}/files/alias/*"

- name: "DOTFILES | Refresh {{ scripts_installation_path }} folder"
  ansible.builtin.file:
    path: "{{ scripts_installation_path }}"
    state: absent

- name: "DOTFILES | Ensure {{ scripts_installation_path }} directory structure exists"
  ansible.builtin.file:
    path: "{{ scripts_installation_path }}"
    mode: "0755"
    state: directory

- name: "DOTFILES | Ensure that all the commands have execution permission"
  ansible.builtin.file:
    path: "{{ item }}"
    mode: '0755'
  with_fileglob:
    - "{{ role_path }}/files/commands/*"

- name: "DOTFILES | Create symbolic links for commands"
  ansible.builtin.file:
    src: "{{ role_path }}/files/commands"
    dest: "{{ scripts_installation_path }}"
    state: link
    mode: "0755"
    force: yes

- name: "DOTFILES | generate GITHUB_TOKEN environment variables"
  ansible.builtin.shell: op read "op://Personal/GitHub Token/credential"
  register: github_token
  changed_when: false
  when: op_installed

- name: "DOTFILES | generate private environment variables"
  ansible.builtin.template:
    src: "private-env.sh.j2"
    dest: "{{ ansible_user_dir }}/.config/dotfiles/private-env.sh"
  when: op_installed
