---
- name: "{{ ansible_distribution }} | Install packages"
  become: true
  community.general.pacman:
    name: "{{ item }}"
    state: present
  loop:
    - stow                # symlink manager
    - curl                # request and donwload CLI (like "wget")
    - wget                # request and donwload CLI (like "curl")
    - less                # pager on CLI (like "more")
    - jq                  # JSON processor (https://github.com/jqlang/jq)
    - yq                  # "JSON, XML, CSV, TOML and properties processor" (https://github.com/mikefarah/yq)
    - ffmpeg              # media manipulation on CLI
    - imagemagick         # image manipulation on CLI
    - ncdu                # Disk Usage on CLI
    - figlet              # write ASCII texts on terminal
    - bc                  # simple calculator CLI
    - sshs                # TUI for SSH (https://github.com/quantumsheep/sshs)
    - emote               # emoji picker gtk3 (https://github.com/tom-james-watson/Emote)
    - virt-viewer         # used by SPICE on Proxmox
    - gum                 # "A tool for glamorous shell scripts" (https://github.com/charmbracelet/gum)
    - gnome-calculator    # default Gnome Calculator
    - zip                 # for compact files

# Because the tradicional package by `pacman` doesn't work on Wayland.
- name: "{{ ansible_distribution }} | install AUR packages"
  ansible.builtin.shell: "yay -S --needed --noconfirm {{ item }}"
  loop:
    - "flameshot-git"     # Because the tradicional package by `pacman` doesn't work on Wayland.
    - "ddcui"             # GUI to control brightness for external monitors
    - "duf"               # Better 'df' alternative
